div{
    border-radius: 50%;
    color: rgb(255, 0, 0);
    background-color:teal;
    height: 50px;
    width: 50px;
}
main{
    width: 50px;
    height: 50px;
    background-color: #0000ff;
}
div{
    height: 50px;
    width: 100px;
    background-color: red;
}
