.container{
    width: 500px;
    height: 290px;
    background-color:rgb(206, 125, 12);
    display:grid;
}
.item{
     width: 100px;
     height: 30px;
     background-color: rgb(5, 79, 30);
     border: 3px solid black;
     text-align: center;
}